<header class="headerContainer">
  <div class="row">
    <div class="col-8">
      <img src="./../../../assets/icones/icon.png" alt="RentACar" />
      <span>O melhor lugar para alugar, sempre</span>
    </div>
    <div class="col-2">
      <div *ngIf="user">
        <p class="pUser">Olá {{user.name}}</p>
      </div>
      <div *ngIf="!user">
        <button mat-raised-button class="btnLogin" (click)="onClickLogin()">
          LOGIN
        </button>
      </div>
    </div>
    <div class="col-2">
      <button mat-raised-button class="btnSubmit" (click)="onClickMenu()">
        <mat-icon>{{isMenu ? 'close' : 'menu_open' }}</mat-icon>
      </button>
    </div>
  </div>
</header>
