<h2 mat-dialog-title class="titleModal">
  <div class="row">
    <div class="col-1">
      <mat-icon> store_mall_directory</mat-icon>
    </div>
    <div class="col-10 titleHeader">Unidades</div>
    <div class="col-1">
      <button mat-button class="btnFab" (click)="onNoClick()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</h2>

<div mat-dialog-content class="formBody">
  <form [formGroup]="form">
    <div class="row mt-2">
    <div class="col-12">
      <mat-form-field appearance="outline" class="formGeneric">
        <mat-label>Nome</mat-label>
        <input matInput type="email" formControlName="name" />
        <mat-icon matSuffix>commute</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" class="formGeneric">
        <mat-label>Cidade</mat-label>
        <input matInput type="email" formControlName="city" />
        <mat-icon matSuffix>store_mall_directory</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" class="formGeneric">
        <mat-label>Estado</mat-label>
        <input matInput type="text" formControlName="state" />
        <mat-icon matSuffix>calendar_today</mat-icon>
      </mat-form-field>
    </div>
  </div>
  </form>
</div>
<div mat-dialog-actions class="footerModal mt-3">
  <button mat-button class="ml-5 mr-2" style="margin-left: 70% !important;" (click)="onNoClick()">Fechar</button>
  <button mat-button-raised class="btnSubmit" (click)="onCreate()" cdkFocusInitial>Salvar</button>
</div>
