<div class=sidebarContainer>
  <header>
    <mat-icon>home</mat-icon>
    <strong>Olá {{user.name}}</strong>
  </header>

  <ul class="nav flex-column mt-3">
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <button mat-button type="button"><mat-icon>car_rental</mat-icon>Minhas reservas</button>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#"> 
        <button mat-button type="button"><mat-icon> directions_car</mat-icon>Carros</button>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#"> 
        <button mat-button type="button"><mat-icon> store_mall_directory</mat-icon>Unidades</button>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <button mat-button type="button"><mat-icon>car_rental</mat-icon>Reservas</button>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <button mat-button type="button"><mat-icon>exit_to_app</mat-icon>Sair</button>
      </a>
    </li>
  </ul>
</div>
