<div class=wrapper>
  <main>
    <div class="btnVoltar">
      <a href="/home"><mat-icon>arrow_back</mat-icon></a>
      <!-- (click)="onClickLogin()" -->
    </div>


    <form [formGroup]="form">
      <div class="formGroup">
        <img class="mb-4" src="./../../../assets/icones/icon.png" alt="RentACar" width="72" height="72">
        <p>Cadastrar-se</p>
      </div>
      <div class="formGroup">
        <mat-form-field appearance="outline" class="formLogin">
          <mat-label>Nome</mat-label>
          <input matInput type="email" formControlName="name" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>
      <div class="formGroup">
        <mat-form-field appearance="outline" class="formLogin">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
      <div class="formGroup">
        <mat-form-field appearance="outline" class="formLogin">
          <mat-label>Telefone</mat-label>
          <input matInput type="text" formControlName="phone" />
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </div>
      <div class="formGroup">
        <mat-form-field appearance="outline" class="formLogin">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
      <a href="/home" mat-raised-button class="btnLogin mr-3">Voltar</a>
      <button mat-raised-button class="btnSubmit" (click)="onRegister()" [disabled]="form.invalid">Cadastrar-se</button>
    </form>
  </main>
</div>
