<div class="card card-table">
  <div class="card-header card-header-primary card-header-icon">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card-icon">
          <mat-icon> directions_car</mat-icon>
        </div>
        <h4 class="card-title">Carros</h4>
      </div>
      <div class="col-12 col-md-6">
        <button type="button" class="btnFab" mat-flat-button (click)="openCar()">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome/Modelo </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Year Column -->
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Ano </th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
      </ng-container>

      <!-- Body Column -->
      <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef> Carroceria </th>
        <td mat-cell *matCellDef="let element"> {{element.body}} </td>
      </ng-container>

      <!-- Transmission Column -->
      <ng-container matColumnDef="transmission">
        <th mat-header-cell *matHeaderCellDef>Câmbio </th>
        <td mat-cell *matCellDef="let element"> {{element.transmission}} </td>
      </ng-container>

      <!-- available Column -->
      <ng-container matColumnDef="available">
        <th mat-header-cell *matHeaderCellDef>Disponível </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon>{{element.available?'check_circle_outline': 'highlight_off'}} </mat-icon>
        </td>
      </ng-container>

      <!-- button Column -->
      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button type="button" class="btnFab" mat-flat-button (click)="updateCar(element)">
            <mat-icon>update</mat-icon>
          </button>
          <button type="button" class="btnFab" mat-flat-button (click)="deleteCar(element)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
